
body {
    
}

.modal-body {
  padding: 0px;
}

.form-horizontal {
  margin-bottom:0px;
}
 
.well
{
    
}

.resultH5{
	font-size: 14px;
	margin: 10px 0 10px 15px;
  	font-family: inherit;
  	line-height: 35px;
  	color: inherit;
  	text-rendering: optimizelegibility;
  	padding:15px 0;
  	
}
.bg-clean{
	background-color: #EEE;
	margin-bottom: 10px;
}